<footer class="footer">

    <section class="row-1">

        <section class="brand">

            <h1 class="logo">
                H
            </h1>

            <p class="title">
                harsh tomar
            </p>

        </section>

        <section class="socials">
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-github"></i>
            <i class="fab fa-instagram"></i>
        </section>

    </section>

    <p class="credit">Website Design and Development by <span>Harsh Tomar</span></p>

</footer>