<article class="about">

    <p class="title">
        Building Digital Bridges<br/> for Brands
    </p>

    <section class="intro">

        <p class="intro__text">
            As a web developer, I enjoy bridging the gap between engineering and design — combining 
            my technical knowledge with my keen eye for design to create a beautiful product. 
            My goal is to always build applications that are scalable and efficient under the 
            hood while providing engaging, pixel-perfect user experiences.
        </p>

        <div class="intro__img">

        </div>

        <!-- <img 
            class="intro__img"
            src=""
            alt="full size image of Harsh Tomar"
        /> -->

    </section>

    <section class="education">

        <h3 class="subtitle">
            Education
        </h3>

        <div class="graphic">

            <div class="line">

                <div class="education__block" id="ed1">
                    <i class="fas fa-bullseye"></i>
                    <div>
                        <p>PGP in Full-stack Product Engineering</p>
                        <p>NIIT | <span>2022-2023</span></p>
                    </div>
                </div>

                <div class="education__block" id="ed2">
                    <i class="fas fa-bullseye"></i>
                    <div>
                        <p>Bachlor of Science in Computer Science</p>
                        <p>Delhi University | <span>2017-2020</span></p>
                    </div>
                </div>

            </div>


        </div>

    </section>

</article>